@-moz-document url-prefix("http://www.timer-tab.com/") {
    body {
        background: #444;
        color: #ccc;
    }
    input,
    button {
        background: #555;
        color: #ccc;
    }
    button:hover,
    button:focus,
    #inputs input:hover,
    #inputs input:focus,
    button:hover,
    button:focus,
    input:hover,
    input:focus {
        background: #666;
        color: #ccc;
    }
    #stripH::after,
    #stripV::after {
        background: #333;
    }
    #settingsWrapper > div,
    #settingsWrapper > table {
        background: #555 !important;
        color: white !important;
    }
    #verticalBottom,
    #vertical,
    #inputs {
        color: #ccc;
    }
}
